.header 
  %ul.header__left
    %li.title
      B.ORLOV  FRAGMENT  OFFICAL  WEB  SITE
    %li.details
      "自由"をモットーに活動する新生若手hiphop crew
  %ul.header__right
    %li.option
      =link_to 'https://instagram.com/b.orlov_fragment__official?igshid=ttsp5ptxzazm' do
        INSTAGRAM
    %li.option
      =link_to 'https://youtube.com/channel/UCY8oNrsnO34HslNP5TXta6g' do
        YOUTUBE 
    %li.option 
      =link_to 'menbers', data_no_turbolink: 'menbers' do
        MENBERS 
    %li.option
      =link_to '/' do
        HOME 
    %li.option
      =link_to "#", class: "optionbtn" do
        =icon('fas', 'cog')