.header__main
  .header__main__box
    %h3.team
      B.orlov fragment
    %h3.text 
      official web siteを開設致しました。
      %br/
      私達のダンスや活動内容等様々なコンテンツを一度に見れます。
    %h3.more
      =link_to '#' do
        さらに表示