=render partial: 'top/header'

%nav{:role => "navigation"}
  %a{:href => "#"}
    %span.ripple menber
  %a{:href => "/tatsuki"}
    %span.ripple tatsuki
  %a{:href => "/kazuki"}
    %span.ripple kazuki
  %a.is-active{:href => "/kanta"}
    %span.ripple kanta
  %a{:href => "/suzuki"}
    %span.ripple suzuki D
  %a{:href => "/daaya"}
    %span.ripple daaya
  %a{:href => "/ariel"}
    %span.ripple ariel
  %a{:href => "/yuu"}
    %span.ripple yuu