.footer{
  height: 50px;
  width: 100%;
  border-style: solid;
  border-top-color: dimgrey;
  border-top-width: 1px;
  background-color: black;
  .footer__end{
    color: dimgray;
    text-align: center;
    margin-top: 25px;
  }
}