.li{
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

a{
  text-decoration:none;
}

a:link{
  color: white;
}

a:visited{
  color: white;
}

a:hover{
  color: #F9A926;

}

.header{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  &__left{
    color: white;
    list-style: none;
    width: 480px;
    margin-left: 60px;
    .title{
      font-size: 20px;
      font-weight: bold;
      margin-top: 15px;
    }
    .details{
      font-size: 13px;
      font-style: 'Josefin Sans';
      padding-top: 10px;
    }
  }
  &__right{
    color: white;
    list-style: none;
    width: 480px;
    display: flex;
    .option{
      margin-top: 20px;
      margin-right: 30px;
    }
  }
}
