// Place all the styles related to the kanta controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main__picture_kanta{
  display: flex;
  background-image: url(rqy-kanta1.JPG);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}